#cloud-config
hostname: "{{ vm_name }}.icube.local"
manage_etc_hosts: true

users:
  - name: {{ vm_user }}
    groups: [sudo, root]
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false
    passwd: "$6$bHFKTOL7bTU9C3ha$9cBDhulxB5u0p7irsStneFbsXw6cZzbN1hcSLYpILDtlVADgooHCYuOBY/qka3YYRAqMU1ChMXUk9pw3q/Ubk0"

chpasswd:
  list: |
    {{ vm_user }}:etudiant_3il
  expire: true

ssh_pwauth: true
  
package_update: true
package_upgrade: true
packages:
  - net-tools
  - curl
  - qemu-guest-agent
  - ssh

write_files:
  - path: /etc/netplan/99-custom-dns.yaml
    content: |
      network:
        version: 2
        ethernets:
          eth0:
            nameservers:
              search: [icube.local]
              addresses: [{{ dns_server_ip }}]
            dhcp4-overrides:
              use-dns: false

runcmd:
  - netplan apply  
  - systemctl enable --now qemu-guest-agent
  - systemctl enable --now ssh
  - echo "Bienvenue {{ vm_user }} !" > /etc/motd
