#cloud-config
hostname: "{{ vm_name }}.icube.local"
manage_etc_hosts: true
manage_resolv_conf: true

users:
  - name: {{ vm_user }}
    groups: [sudo, root]
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false
    passwd: "$6$bHFKTOL7bTU9C3ha$9cBDhulxB5u0p7irsStneFbsXw6cZzbN1hcSLYpILDtlVADgooHCYuOBY/qka3YYRAqMU1ChMXUk9pw3q/Ubk0"

chpasswd:
  expire: true

ssh_pwauth: true
  
package_update: true
package_upgrade: true
packages:
  - net-tools
  - curl
  - qemu-guest-agent
  - ssh

resolv_conf:
  nameservers:
    - {{ dns_server_ip }}
  search:
    - icube.local
  domain: icube.local
  options:
    rotate: true
    timeout: 1

runcmd:
  - systemctl enable --now qemu-guest-agent
  - systemctl enable --now ssh
  - echo "Bienvenue {{ vm_user }} !" > /etc/motd
